

button.button-index {
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    background: none;

    width: 100%;
    height: 80px;
    display: block;

    border-top-right-radius: 0px; 
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

button.button-index a {
    color: #334d00;
}

button.button-index-shape-right {
    border-top: 10px solid;
    border-right: 10px solid;
    border-left: none;
    border-bottom: none;
    
    border-top-right-radius: 20px; 
}

button.button-index-shape-left {
    border-top: 10px solid;
    border-left: 10px solid;
    border-right: none;
    border-bottom: none;
    
    border-top-left-radius: 20px; 
}

button.button-index-1 {
    border-color: #4e5d32;
}

button.button-index-2 {
    border-color: #5a6a39;
}

button.button-index-3 {
    border-color: #657840;
}

button.button-index-4 {
    border-color: #708547;
}

button.button-index-5 {
    border-color: #7e9159;
}

button.button-index-6 {
    border-color: #8d9d6c;
}

button.button-index-7 {
    border-color: #9baa7e;
}


/* Ver 1

button.button-index {
    border: none;
    padding: 12px 20px;
    margin-bottom: 15px;
    font-size: 16px;
    
    border-top-right-radius: 0px; 
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    width: 100%;
}

button.button-index a {
    color: #222815;
}


button.button-index-x {
    background: #384324;
    border-bottom-right-radius: 30px;
} */