/* ===============================
   CSS-Stylesheet
   Letztes Update: 28.11.2025
   Durch: Minh Thi Bui 
   ========================== */

/*==============================
    Änderungen: Leonies Add-on auskommentiert
    ============================= */

/* ==============================
    Farben und Typografie
    (vorläufig für geschriebenen Text)
    ============================= */

/* Definition von Variablen */

:root {
   --text_color: rgb(51, 77, 0);
   --text_font: "Noto Serif", serif;
   --text_size: 20px;   /* Basis-Schriftgröße */
   --text_margin-bottom: 25px;
   --text_margin-left: 200px;
   --text_margin-right: 250px;
}

/* ==============================
    Grundlegendes zur Schrift
    ============================= */

html{
    white-space: normal;
    text-align: justify;
}

h1,h2,h3,h4,h5,h6, p, li, span, div {
    color: var(--text_color);
    font-family: var(--text_font);
}

header{
    color: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
}

body{
    background-color: #e6f2e8;  /* Hintergrundfarbe der Seite */
}

p{
    margin-bottom: var(--text_margin-bottom);
     margin-left: var(--text_margin-left);
    margin-right: var(--text_margin-right);
}

section{
    h2{
        font-style: italic;
    }
}


/* ==============================
    Überschriften-Stile
    (Zeilenabstand, Schriftgröße der Überschriften)
    =============================  */

h1,h2,h3,h4,h5,h6 {
	clear: both;
	font-weight: 700;
	margin: 56px 250px 25px 200px;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.2308;
}

h2 {
	font-size: 1.8125rem; /* 29px */
	line-height: 1.2069;
}

h3 {
	font-size: 1.5rem; /* 24px */
	line-height: 1.1667;
}

h4 {
	font-size: 1.25rem; /* 20px */
	line-height: 1.4;
}

h5 {
	font-size: 1.125rem; /* 18px */
	letter-spacing: 0.1em;
	line-height: 1.3333;
	text-transform: uppercase;
}

h6 {
	font-size: 1.0625rem; /* 17px */
	letter-spacing: 0.1em;
	line-height: 1.2353;
	text-transform: uppercase;
}

/* ========================================
 * Textumfluss


.block {
    display: flex;
    justify-content: flex-start;
    margin: 40px 200px;
}
.block.reverse{
    justify-content: flex-end;
}
.block.text {
    max-width: 600px;
    text-align: justify;
}
* =======================================*/